<!DOCTYPE html>
<html>
<head>
  <title>Willkommen zum Quiz!</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="container">
    <header>
      <h1 class="willkommen">Willkommen zum spannenden Quiz!</h1>
      <p class=willkommensubtext>Teste dein Wissen und hab Spaß!</p>
      <%= button_to 'Spiel starten', game_start_path, method: :get, class: "start-button" %>
    </header>

    <footer>
      <p>&copy; <%= Time.now.year %> Quiz-App</p>
    </footer>
  </div>
</body>
</html>