/* components/forms.css */
.form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}
