/* forms.css */
.form-label {
  display: block;
  font-family: "Press Start 2P";
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: black;
}

.form-input {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 8px 12px;
  margin: 0 auto 12px auto;
  border: 1px solid #adadad;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.4;
  color: #222;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Press Start 2P", monospace;
}

.form-group {
  margin-bottom: 1.5rem;
}
