<!-- selection.html.erb -->
<div class="container">
  <h1>Ausgew채hlte Kategorien</h1>

  <% if @selected_categories.present? %>
    <p>Du hast folgende Kategorien ausgew채hlt:</p>
    <div class="category-boxes">
      <% @selected_categories.each do |kategorie| %>
        <div class="category-box"><%= kategorie %></div>
      <% end %>
    </div>
  <% else %>
    <p>Du hast keine Kategorien ausgew채hlt.</p>
  <% end %>

  <div class="button-group">
    <%= link_to 'Zur체ck zur Auswahl', categories_index_path, class: 'btn btn-back' %>
    <%= link_to 'Weiter', game_next_question_path, class: 'btn btn-next' %>
  </div>
</div>
