<div class="content-container">
  <h1>Ausgew채hlte Kategorien</h1>

  <% if @selected_categories.present? %>
    <p>Du hast folgende Kategorien ausgew채hlt:</p>
    <ul>
      <% @selected_categories.each do |kategorie| %>
        <li><%= kategorie %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Du hast keine Kategorien ausgew채hlt.</p>
  <% end %>

  <div style="margin-top: 20px;">
    <%= link_to 'Zur체ck zur Auswahl', categories_index_path, class: 'btn-secondary' %>
    <%= link_to 'Weiter', game_next_question_path, class: 'btn-primary', style: 'margin-left: 10px;' %>
  </div>
</div>
